.requiredStar {
    color: red;
}

table > thead > tr {
    background-color: #ddd;
}

table > thead > tr > td {
    border: 1px solid black !important;
}

.DetailsClick {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}
.error {
   color:darkred;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }