

@{
    /**/

    ViewBag.Title = "Index";
}


<div ng-app="RetailCustomerApp" ng-controller="RetailCustomerList"  class="row" ng-init="Init()">
    <h4 class="text-center form-horizontal">Retail Customer List</h4><hr />
    <div class="row">
        <div class="col-md-9">
            @Html.ActionLink("Add New Retail Customer", "Create", null, new { @class = "btn btn-sm btn-info" })
        </div>
        <div class="col-md-1">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="Active" value="true" ng-checked="Active" /> Active
            </label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search.." />
        </div>
    </div><br />
    
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <td>SL</td>
                <td>Customer Name</td>
                <td>Address</td>
                <td>Region</td>
                <td>Mobile No</td>
                <td>Gender</td>
                <td>DateOfBirth</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody ng-repeat="item in pagedItems[currentPage] | filter:searchText | filter:{Status:Active}">
            <tr>
                <td>{{$index+1}}</td>
                <td>{{item.CustomerName}}</td>
                <td>{{item.Address}}</td>
                <td>{{item.Region}}</td>
                <td>{{item.MobileNo}}</td>
                <td>{{item.Gender}}</td>
                <td>{{item.DateOfBirth | date}}</td>
                <td>
                    <span ng-if="item.Status==true">Active</span>
                    <span ng-if="item.Status==false">Inactive</span>
                </td>
                <td>
                    <a class="btn" ng-click="GetCustomerEditInfo(item.Id,item.CustomerName)"
                       title="Edit" data-toggle="modal" data-target="#CustomerEditModal"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pull-right">
        <a href="" ng-click="prevPage()" ng-class="{disabled: currentPage == 0}">« Prev</a>
        <a href="" ng-bind="n + 1" ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap)" ng-class="{active: n == currentPage}" ng-click="setPage()">1</a>
        <a href="" ng-click="nextPage()" ng-class="{disabled: (currentPage) == pagedItems.length - 1}">Next »</a>
    </div>

    <!-- Modal -->
    <div id="CustomerEditModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eit Customer <b class="text-right">{{CustomerName}}</b></h4>
                </div>
                <div class="modal-body">

                    <form name="myForm" novalidate>
                        <div class="form-group">
                            <label class="control-label">Customer Name <a class="requiredStar">*</a></label>
                            <input type="text" class="form-control" name="ItemName" ng-model="customer.CustomerName" ng-keyup="CheckValidation(customer)" placeholder="Enter Customer Name" autocomplete="off" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Address <a class="requiredStar">*</a></label>
                            <input type="text" class="form-control" name="Address" ng-model="customer.Address" ng-keyup="CheckValidation(customer)" placeholder="Enter Address" autocomplete="off" required />
                            <span ng-show="myForm.Address.$touched && myForm.Address.$error.required" class="error">Address Required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Region <a class="requiredStar">*</a></label>
                            <input type="text" class="form-control" name="Region" ng-model="customer.Region" ng-keyup="CheckValidation(customer)" placeholder="Enter Region" autocomplete="off" required />
                            <span ng-show="myForm.Region.$touched && myForm.Region.$error.required" class="error">Region Required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mobile No <a class="requiredStar">*</a></label>
                            <input type="text" class="form-control" name="MobileNo" ng-model="customer.MobileNo" ng-keyup="CheckValidation(customer)" placeholder="MobileNo" autocomplete="off" required />
                            <span ng-show="myForm.MobileNo.$touched && myForm.MobileNo.$error.required" class="error">Mobile No Required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Gender<a class="requiredStar">*</a></label>
                            <select class="form-control" ng-model="customer.Gender" ng-options="v.Name as v.Name for v in GenderList" ng-change="CheckValidation(customer)">
                                <option value="">--- Select Gender ---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">DateOfBirth</label>
                            <input type="date" class="form-control" name="DateOfBirth" ng-model="customer.DateOfBirth" ng-keyup="CheckValidation(customer)" placeholder="DateOfBirth" autocomplete="off" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Status <a class="requiredStar">*</a></label>
                            <select ng-model="customer_Status" required name="customer_Status" class="form-control">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Go To Retail Customer List", "Index", null, new { @class = "btn btn-sm btn-info" })
                            <input ng-disabled="buttonDisable" class="btn btn-sm btn-success pull-right" type="submit" ng-click="Edit(customer)" value="Submit">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
@section RetailCustomerJS{
    <script src="~/Application/Controller/RetailCustomer.js"></script>
}



