

@{
    ViewBag.Title = "Index";
}


<div ng-app="OperationApp" ng-controller="OperationList" class="row" ng-init="Init()">
    <h4 class="text-center form-horizontal">Operation List</h4><hr />
    <div class="row">
        <div class="col-md-9">
            @Html.ActionLink("Add New Operation", "Create", null, new { @class = "btn btn-sm btn-info" })
        </div>
        <div class="col-md-1">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="Active" value="true" ng-checked="Active" />Global
            </label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search.." />
        </div>
    </div><br />
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <td>SL</td>
                <td>Operation Name</td>
                <td>Description</td>
                <td>Module</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody ng-repeat="item in pagedItems[currentPage] | filter:searchText | filter:{IsGlobal:Active}">
            <tr>
                <td>{{$index+1}}</td>
                <td>{{item.OperationName}}</td>
                <td>{{item.Description}}<span ng-show="d">{{item.IsGlobal}}</span></td>
                <td>{{item.Module.ModuleName}}</td>
                <td>
                    <span ng-if="item.Status==true">Active</span>
                    <span ng-if="item.Status!=true">Inactive</span>
                </td>

                <td>
                    <a class="btn" ng-click="GetOperationEditInfo(item.Id,item.OperationName)"
                       title="Edit" data-toggle="modal" data-target="#OperationEditModal"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pull-right">
        <a href="" ng-click="prevPage()" ng-class="{disabled: currentPage == 0}">« Prev</a>
        <a href="" ng-bind="n + 1" ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap)" ng-class="{active: n == currentPage}" ng-click="setPage()">1</a>
        <a href="" ng-click="nextPage()" ng-class="{disabled: (currentPage) == pagedItems.length - 1}">Next »</a>
    </div>

    <!-- Modal -->
    <div id="OperationEditModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eit Operation <b class="text-right">{{OperationName}}</b></h4>
                </div>
                <div class="modal-body">
                    <form name="myForm" novalidate>
                        <div class="form-group">
                            <label class="control-label">Operation Name <a class="requiredStar">*</a></label>
                            <input type="text" class="form-control" name="OperationName" ng-model="operation.OperationName" ng-keyup="CheckValidation(operation)" placeholder="Enter Operation Name" autocomplete="off" required />
                            <span ng-show="myForm.OperationName.$touched && myForm.OperationName.$error.required" class="error">Operation Name Required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description <a class="requiredStar">*</a></label>
                            <input type="text" class="form-control" name="Description" ng-model="operation.Description" ng-change="CheckValidation(operation)" placeholder="Enter Description" autocomplete="off" required />
                            <span ng-show="myForm.Description.$touched && myForm.Description.$error.required" class="error">Description Required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Module <a class="requiredStar">*</a></label>
                            <select ng-disabled="ModuleDisable" class="form-control" ng-model="operation._Module" ng-options="v.Id as v.ModuleName for v in ModuleList" ng-change="CheckValidation(operation)">
                                <option value="">--- Select Module ---</option>
                            </select>
                            <span ng-show="ModuleValidation_msg" class="error"> Select Module </span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="gResource" ng-model="IsGlobal" ng-true-value="'True'" ng-false-value="'False'" ng-change="ClickGlobal();CheckValidation(operation)" />
                            <label class="control-label" for="gResource">Global Resource</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Status <a class="requiredStar">*</a></label>
                            <select ng-model="operation_Status" required name="operation_Status" class="form-control">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Go To Operation List", "Index", null, new { @class = "btn btn-sm btn-info" })
                            @*<input ng-disabled="myForm.$invalid || buttonDisable" class="btn btn-sm btn-success pull-right" type="submit" ng-click="Create(user)" value="Submit">*@
                            <input ng-disabled="buttonDisable" class="btn btn-sm btn-success pull-right" type="submit" ng-click="Edit(operation)" value="Submit">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
@section OperationJS{
    <script src="~/Application/Controller/Operation.js"></script>
}




